@model IEnumerable<MyFirstApp.Models.Book>
<div>
  @foreach (var item in Model) {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Title)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Author)
      </td>
    </tr>
  }
</div>