@model IEnumerable<MyFirstApp.Models.Book>
<div>
  <form asp-controller="Book" asp-action="Index" method="GET">
    <input type="text" name="Title"/> 
  </form>
  @foreach (var item in Model) {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Title)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Author)
      </td>
    </tr>
  }
</div>